
<main>
    <form class="product-form" action = '/admin/contact' method = 'POST'>  
        <div class="form-control">
                <label for="firstname">First Name:</label>
                <input type = 'text' name = 'firstname'/> 
                <label for="lastname">Last Name:</label>
                <input type = 'text' name = 'lastname'/>                               
                <label for="email">E-mail:</label>
                <input type = 'text' name = 'email'/>
                <label for="number">Phone-number</label>
                <input type = 'text' name = 'number'/>
        </div>
        <button type = 'submit'>Submit</button>
        
    </form>                    
</main>    
 