<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact Details</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>  
 
    <body>
    
        <header class="main-header">
                <nav class="main-header__nav">
                        <ul class="main-header__item-list">
                            <li class="main-header__item">
                                <a href = '/'>shop</a>
                            </li>
                            <li class="main-header__item">
                                    <a href = '/admin/contact'>Contacts</a>
                            </li>
                        </ul>
                    </nav>
        </header>
        
        <h1>Page not Found</h1>
    </body>
</html>