extends layouts/main-layout
block content
    main
        h1 Contacts are
        if contacts.length>0
            ul
                each contact in contacts
                    li.each_item
                        p
                            strong Name: 
                            |#{contact.firstname} 
                            |#{contact.lastname}
                        p
                            strong E-mail: 
                            |#{contact.email}
                        p     
                            strong Phone.no:    
                            | #{contact.number}
        else
            p No contacts