<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact Details</title>
        
    </head>
    <body>
        <h1>Contact Details</h1>
        <nav>
            <ul>
                <li>
                    <a href = '/'>shop</a>
                </li>
                <li>
                        <a href = '/admin/contact'>Contacts</a>
                </li>
            </ul>
        </nav>
        <h1>Enter the phone NO:</h1> 
        <form action = '/admin/contact' method = 'POST'> 
            <input type = 'text' name = 'number'/>
            <button type = 'submit'>Submit</button>
        </form>
    </body>
</html>